* {

    font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}


div.menu {
    text-align: center;
    overflow-x:auto;
    


}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;



}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: hotpink;
  padding: 2px;
}

nav ul li {
  padding: 0 1rem; /* Espaciado interno sin afectar el centrado */
}



body {

    background-color: hotpink;
    margin: 0;
    height: 100vh;
    padding-left: 20%;
    padding-right: 20%;
    min-width: fit-content;
    justify-content: center; /* centra horizontalmente */
    align-items: center;     /* centra verticalmente */
    text-align: center;      /* centra el texto dentro de los elementos */

    
}

h1 { 
    text-align: center;
    justify-content: center;
}

img {
    max-height: 500px;
    overflow: auto;
    border-radius: 5%;
    
}



h3 {
    background-color: midnightblue;
    font: italic;
    color: hotpink;
    display: inline;
    padding: 5px;
    border-radius: 6px;
}

ol {
    text-align: left;
}




li.reg a {
    background-color: white;
    color:red;
    text-decoration: none;
    font-weight: bold;
    padding: 2px;
    border-radius: 3px;

    

}

li.link a {
    background-color: green;
    color:aliceblue;
    text-decoration: none;
    font-weight: bold;
    padding: 2px;
    border-radius: 3px;

}
